/* frontend/src/index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000; /* 외부 배경색 */
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

input, textarea {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}